@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Permanent+Marker&family=Rajdhani:wght@500&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&display=swap');

#side-menu-container {
 position: fixed;
 z-index: 100;
 height: 2rem;
 /*display: flex;
 flex-direction: column;*/
}

#items{
 display: flex;
 flex-direction: column;
 background-color: black;
 color: black;
 width: 50vw;
 height: 50vw;
 font-family: 'Lato', sans-serif;
 font-size: 1rem;
 z-index: 100;
}

#smenu-item {
 width: 100vw;
 height: 15%;
 background-color: #9999C3;
 color: black;
 border-left: none;
 padding-top: 1vw;
 cursor: pointer;
 z-index: 100;
 text-align: center;
}

#menu-control {
    cursor: pointer;
    margin-top: 0vw;
    font-size: 1.2rem;
    height: 2.75rem;
    background-color: #9999C3;
    color: black;
    padding-left: 1vw;
    z-index: 100;
    width: 100vw;
    display: flex;
    flex-direction: row;
    font-family: 'Libre Baskerville', serif;
}

#p-menu-control {
 padding-bottom: 1vw;
}

#p-name {
 padding-left: 1rem;
 margin-top: 0.6rem;
}

#d-menu-icon {
  width: 2rem;
  margin-top: 0.5rem;
}

#menu-icon{
    display: block;
    width: 100%;
    height: auto;
}

#d-media-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #9999C3;
    height: 2.5rem;
    position: fixed;
    z-index: 100;
    margin-top: 3.5rem;
}

#photo-menu-item {
    width: 33%;
    margin-top: 1rem;
    background-color: #COE6DE;
    text-align: center;
    font-family: 'Libre Baskerville', sans-serif;
    cursor: pointer;
}

#media-submenu{
   height: auto;
   padding-bottom: 1rem;
}