@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Permanent+Marker&family=Rajdhani:wght@500&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&display=swap');


#main-about {
 display: flex;
 flex-direction: column;
 width: 100%;
}

#welcome-header{
 font-size: 4rem;
 color: black;
 font-family: 'Libre Baskerville', serif;
 margin-top: 0.75rem;
 margin-left: 5%;
}

#about-container{
    padding-top: 4rem;
    /*background-image: url('../../images/headshot_1.jpeg');
    background-repeat: no-repeat; */
}

#about-text{
    display: flex;
    flex-direction: column;
    padding-bottom: 2vw;
    border-radius: 10vw;
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 1rem;
}

#about-section {
   width: 90vw;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   font-size: 1.5rem;
   margin-bottom: 1vw;
   /*color: #343438; */
   color: black;
   font-family: 'Lato', sans-serif;
}

#about-headshot {
    height: 35vw;
    margin-left: 5%;
}

#img-headshot-about {
    display: block;
     width: auto;
     height: 100%;
}