@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Permanent+Marker&family=Rajdhani:wght@500&family=Staatliches&display=swap');


#main-about {
 display: flex;
 flex-direction: column;
 width: 60w;
 margin-left: 20vw;
 margin-right: 20vw;
}

#about-container{
    padding-top: 10vw;
    width: 90vw;
    margin-left: 5%;
    margin-right: 5%;
    /*background-image: url('../../images/headshot_1.jpeg');
    background-repeat: no-repeat; */
}

#about-text{
    display: flex;
    flex-direction: column;
    padding-top: 3vw;
    padding-bottom: 2vw;
    background-color: white;
    opacity: 0.5;
    border-radius: 10vw;
    width: 48vw;
    margin-top: 2rem;
}

#about-section {
   width: 40vw;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   font-size: 1.5rem;
   margin-bottom: 1vw;
   margin-left: 5vw;
   margin-right: 3vw;
   /*color: #343438; */
   color: black;
    font-family: 'Rajdhani', sans-serif;
}

#aboout-headshot {
    width: 50vw;
    height: auto;
    margin-top: 5vw;
}

#image-headshot-about {
    width: 100%;
}