@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Permanent+Marker&family=Rajdhani:wght@500&family=Staatliches&display=swap');


#full-header{
    width: 10%;
    display: flex;
    flex-direction: row;
    z-index: 100;
    position: fixed;
    font-size: 1.5rem;
    text-align: right;
    margin-left: 90%;
    font-family: 'Rajdhani', sans-serif;
    background-color: #9999C3;
    color: white;
    height: 3.6rem;
    z-index: 200;
}

#p-header {
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}