@import url('https://fonts.googleapis.com/css2?family=Hind&family=Permanent+Marker&family=Rajdhani:wght@500&family=Staatliches&display=swap');

#media-main {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    flex-direction: column;
}

#media-top-menu{
 display: flex;
 flex-direction: row;
 height: 2rem;
 position: fixed;
 z-index: 100;
 width: 100%;
}

#media-menu-item {
   margin-top: 12vw;
   width: 50%;
   text-align: center;
   font-family: 'Permanent Marker', sans-serif;
   font-size: 2vw;
   cursor: pointer;
   height: 2rem;
    z-index: 100;
}
#media-menu-item:hover{
   font-size: 2.5vw;
}

#media-viewer{
margin-top:12rem;
padding-top: 0;
}

#side-pic {
margin: 5vw 1vw 0vw 1vw;
}