#photos-div {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 width: 50vw;
 margin-top: 2.5rem;
 text-align: center;
}

.photo-div {
 text-align: center;
 margin: 1rem;

}

.photo-div:hover {
  cursor: pointer;
}