#photos-div {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 width: 50vw;
 margin-top: 2.5rem;
 text-align: center;
 margin-left: 8%;
}

.photo-div {
 text-align: center;
 margin: 1rem;

}

.photo-div:hover {
  cursor: pointer;
}

#display-photo {
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    z-index:90;

}

#b-previous {
    /*margin-right: 3vw; */
      margin-right: 3vw;
       margin-top: 15%;
       border:none;
       background-color: white;;
       cursor: pointer;
       width: 4vw;
}

#b-next{
         margin-left: 3vw;
       margin-top: 15%;
       border:none;
       background-color: white;
       cursor: pointer;
       border: none;
       width: 4vw;
}

#left-arrow {
    width: 100%;
    height: auto;
}

#right-arrow {
    width: 100%;
    height: auto;
}

#b-previous:active, #b-next:active {
    border: none;
}

#gallery-cap {
    margin-top: 0vw;
    width: 33.7vw;
    text-align: center;
    background-color: white;
    color: black;
    padding: 1vw;
    margin-left: 32%;
    margin-right: 32%;
    font-size: 1.5vw;
}

#main-pic {
   display: block;
       width: 100%;
       height: auto;
    /*border: 0.2vw solid black; */
}

#main-pic-container {
  width: 40vw;
  margin: 0 2vw 0 2vw;
}

#side-pic{
    display: block;
    width: 100%;
    height: auto;
    margin: 100% 0 0 0;
}

#side-pic-container {
    width: 15vw;
}