@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&display=swap');

#photos-div {
 display: flex;
 flex-direction: column;
 width: 70vw;
 /*margin-top: 4rem;*/
 text-align: center;
 margin-left: 15%;
 margin-right: 15%;
 padding-top: 4rem;
}

.photo-div {
width: 70vw;
margin-bottom: 1rem;
display: flex;
flex-direction: column;
}

.img-photo {
    display: block;
     width: 100%;
     height: auto;
}

.photo-div:hover {
  cursor: pointer;
}

/*#display-photo {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    text-align: center;
    margin-left: 21%;
    margin-right: 19%;
} */

#b-previous {
       border:none;
       cursor: pointer;
       width: 2.5rem;
       height: 2vw;
       background: none;
       margin-top: 1rem;
}

#b-next{
       margin-right: none;
       margin-top: 1rem;
       border:none;
       cursor: pointer;
       border: none;
       width: 2.5rem;
       height: 2vw;
       background: none;
}

#left-arrow {
    width: 100%;
    height: auto;
}

#right-arrow {
    width: 100%;
    height: auto;
}

#b-previous:active, #b-next:active {
    border: none;
}

#gallery-cap {
    width: 67vw;
    text-align: center;
    color: black;
    padding: 1vw;
    font-size: 1rem;
    border-radius: 2vw;
    font-family: 'Lato', sans-serif;
}

#caption-container{
    display: flex;
    flex-direction: row;
    width: 60vw;
    margin: 1rem 20vw 0 20vw;
}

#main-pic {
   display: block;
   width: 100%;
   height: auto;
    /*border: 0.2vw solid black; */
}

#main-pic-container {
  width: 60vw;
  margin: 0 20vw 0 20vw;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
}

#side-pic{
    display: block;
    width: 100%;
    height: auto;
    margin: 100% 0 0 0;
}

#side-pic-container {
    width: 15vw;
}

#slider-container{
  padding-top: 4rem;
}

#photo-div{
  height: 50vw;
}

#carousel-container{
  width: 60vw;
  margin: 0 20vw 0 20vw;
}