@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&display=swap');

#main-resume {
    padding-top: 1rem;
}

#resume-view {
 width: 90vw;
 height: 100vh;
}

#resumes{
 width: 90vw;
 margin-left: 5vw;
 margin-right: 5vw;
 display: flex;
 flex-direction: column;
 padding-top: 4rem;
 font-family: 'Libre Baskerville';
 font-size: 1rem;
}

#resume-option{
 padding-top: 1rem;
 border-bottom: black solid 1px;
 cursor: pointer;
}
