@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&display=swap');

#media-container{
padding-top: 5rem;
font-size: 1rem;
font-family: 'Lato', sans-serif;
}

#audio-caption{
  margin-bottom: 1rem;
}

#audio-comp{
width: 40vw;
}

#video-view{
    width: 90vw;
    margin: 0 5vw 0 5vw;
    font-family: 'Libre Baskerville', sans-serif;

}

#video-collapse{
  border-bottom: solid 1px black;
  height: auto;
  margin-bottom: 1rem;
  cursor: pointer;
}

#i-frame-video{
  width: 50vw;
  height: 40vw;
}