@import url('https://fonts.googleapis.com/css2?family=Hind&family=Permanent+Marker&family=Rajdhani:wght@500&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&display=swap');

#writing-main{
    font-family: 'Libre Baskerville', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding-top: 2vw;
    color: black;
    padding-bottom: 1rem;
}

#writing-category-top{
 margin-top: 5rem;
 text-align: left;
 width: 90vw;
 margin-left: 5vw;
 margin-right: 5vw;
 cursor: pointer;
 display: flex;
 flex-direction: column;
 border-bottom: solid 1px black;
 padding-top: 1rem;
 height: auto;
}


#writing-category{
 text-align: left;
 width: 100vw;
 cursor: pointer;
 height: auto;
  display: flex;
  flex-direction: column;
    padding-top: 1rem;
 height: auto;
 width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  border-bottom: solid 1px black;
}

#pdf-view{
  width: 89vw;
  height: 100vw;
}

#writing {
 margin-top: 0.5rem;
}

#top-collapsible{
    margin-top: 10rem;
    width: 100vw;
}

#category-items, #poem-items, #triad-items, #entity-items, #odyssey-items{
 margin-top: 1rem;
 padding: 0.5rem 0 1rem 1rem;
 background-color: #7B8CDE;
}

#document-container {
     background-color: white;
    font-size: 1rem;
}