@import url('https://fonts.googleapis.com/css2?family=Hind&family=Permanent+Marker&family=Rajdhani:wght@500&family=Staatliches&display=swap');

#writing-main{
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    padding-top: 2vw;
}

#writing-sample-top {
 margin: 12vw 0 0 5vw;
}

#writing-sample {
 margin: 0 0 0 5vw;
}

#p-sample {
 margin: 0vw 5vw 0vw 2vw;
}

#writing-title {
  font-size: 2vw;
}